html {
  /* background: #1a1a1a; */
  color: #e5e5e5;
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

.description {
  max-width: 600px;
  margin: 0 auto;
  color: rgba(229, 229, 229, 0.7);
}

div, img, footer {
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size: 16pt;
}

h5 {
  font-size: 14pt;
}

h6 {
  font-size: 12pt;
}

p {
  font-size: 12pt;
  margin-bottom: 12pt;
}

strong {
  font-weight: 900;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  color: #e5e5e5;
}

a {
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #dff3fd;
}
a:visited {
  color: #dff3fd;
}
li.active a, a:hover, a:active {
  color: #e5e5e5;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centered-y {
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.distribution-map {
  max-width: 1200px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.distribution-map > img {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.distribution-map .map-point {
  cursor: pointer;
  outline: none;
  z-index: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 1;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*-moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;*/
  /*-o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;*/
  /*-webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;*/
  /*-webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;*/
  /*-webkit-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;*/
  /*transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;*/
  background: rgb(138, 28, 31);
  /* border: 5px solid #7fcff7; */
}
.distribution-map button img {
  display: block;
  position: relative;
  left: -8px;
  height: 32px;
  width: 20px;
  bottom: 40px;
  padding: 0;
  margin: 0;
}
.distribution-map button p {
  text-align: left;
  font-size: 18px;
  display: inline-block;
  position: relative;
  top: -70px;
  bottom: 40px;
  left: 20px;
  width: 100px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

#fh5co-hero {
  background-color: #57cecd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  float: left;
  width: 100%;
  height: 150px;
  display: table;
  position: relative;
  z-index: 20;
  color: #ffffff;
}
#fh5co-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #124191;
  opacity: .97;
}
@media screen and (max-width: 768px) {
  #fh5co-hero {
    background-position: center center;
  }
}
#fh5co-hero .fh5co-arrow {
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -30px;
  display: table;
  color: #ffffff;
  font-size: 24px;
  z-index: 99;
  text-decoration: none;
  width: 50px;
  height: 50px;
  background: #f86942;
  border-bottom: none !important;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
#fh5co-hero .fh5co-arrow i {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-hero .fh5co-arrow:active, #fh5co-hero .fh5co-arrow:focus, #fh5co-hero .fh5co-arrow:hover {
  outline: none;
}
#fh5co-hero .fh5co-hero-wrap {
  padding-top: 1em;
  display: table;
  height: 150px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .fh5co-hero-wrap {
    padding-top: 4em;
  }
}
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro {
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
}
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro a {
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro a:hover {
  color: white;
  border-bottom: 1px solid white;
}
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h1 {
  font-size: 36px;
  line-height: 47px;
  color: #ffffff;
  font-weight: 100;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 768px) {
  #fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h1 {
    font-size: 30px;
  }
}
#fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h2 {
  letter-spacing: 4px;
  line-height: 1.5;
  font-size: 16px;
  text-transform: uppercase;

  position: relative;
  color: #ffffff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 768px) {
  #fh5co-hero .fh5co-hero-wrap .fh5co-hero-intro > h2 {
    letter-spacing: 3px;
  }
}
#fh5co-hero .fh5co-hero-wrap .btn {
  color: #ffffff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.08);
}
#fh5co-hero .fh5co-hero-wrap .btn:hover, #fh5co-hero .fh5co-hero-wrap .btn:active, #fh5co-hero .fh5co-hero-wrap .btn:focus {
  background: #57cecd;
  border-color: #57cecd;
}

body.inner-page #fh5co-hero .fh5co-hero-wrap {
  padding-top: 15em;
}
@media screen and (max-width: 768px) {
  body.inner-page #fh5co-hero .fh5co-hero-wrap {
    padding-top: 4em;
  }
}

@media screen and (max-width: 768px) {
  #fh5co-hero, .fh5co-hero-wrap {
    position: relative;
    padding: 4em 0 3em 0;
    height: inherit !important;
  }
}

#fh5co-main {
  position: relative;
  float: left;
  width: 100%;
  clear: both;
}

@media screen and (max-width: 768px) {
  body.inner-page #fh5co-main {
    margin-top: 0px;
    padding-top: 20px;
  }
}

#fh5co-hero,
#fh5co-main,
#fh5co-logo-mobile-wrap {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

body.fh5co-mobile-menu-visible #fh5co-hero,
body.fh5co-mobile-menu-visible #fh5co-main,
body.fh5co-mobile-menu-visible #fh5co-logo-mobile-wrap {
  -moz-transform: translateX(275px);
  -webkit-transform: translateX(275px);
  -ms-transform: translateX(275px);
  transform: translateX(275px);
}

#fh5co-header-section {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 103;
}

#fh5co-logo {
  font-size: 20px;
  margin: .9em 0 0 0;
  padding: 0;
  font-weight: 700;
}
#fh5co-logo a {
  border-bottom: none !important;
  color: #ffffff;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#fh5co-logo a:hover {
  opacity: .7;
}
@media screen and (max-width: 768px) {
  #fh5co-logo {
    text-align: left;
    margin: 0px 0 0 0;
    float: none !important;
  }
}

#copyright {
    position: relative;
    padding: 3em 0em;
    text-align: center;
    color: rgba(255, 255, 255, .4);
  background:url(../img/main-wrapper-bg.jpg) repeat;
}

#copyright .container {

}

#copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, .6);
}
